<head>
  <title>Rides Page</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="../public/stylesheets/style.css" rel="stylesheet">
</head>

<body class="ridesFixed">
  <nav class="navbar navbar-default navbar-fixed-top" id="nav1">
    <div class="container">
      <p class="float-right"><a id="login" href="/logout">Log out</a></p>
      <div class="navbar-header">
        <h3 id="f0">SCARLET <img id="ruLogo" src="http://content.sportslogos.net/logos/33/817/full/6853_rutgers_scarlet_knights-alternate-2001.png" alt="leaf" style="width:35px;">IDES</h3>
        <a class="navbar-brand" href="/members">Menu</a>
        <a class="navbar-brand" href="/accountInfo">Account</a>
        <a class="navbar-brand" href="/post">Post a Ride</a>
      </div>

    </div>
  </nav>
  <br><br><br><br><br><br><br><br>

  <div class="container absolute">
    <div class="row">
      <div class="col-md-6">
        <h2 class="fontHere" id="title-left">Rides Available</h2>
        {{#each posts}}
          {{#unless this.chosen}}


              <div class="ride-form">
                <p class="fontHere"><b>Driver: </b> {{this.first}} {{this.last}}</p>
                <p class="fontHere"><b>From: </b> {{this.from}} <b>To: </b> {{this.to}}</p>
                <p class="fontHere"><b>Posted: </b>{{this.createdAt}}</p>
                <p class="fontHere"><b>Notes: </b> {{this.notes}}</p>
                <p class="fontHere"><b>Time: </b> {{this.time}}</p>
                <form class="pickRide">
                  <input input type="hidden" type="text" id="chosen" name="post_id" value={{this.id}}>
                  <button type="submit" class="btn btn-default fontHere">Choose</button>
                </form>
              </div>

          {{/unless}}
        {{/each}}

      </div>
      <div class="col-md-6 ">

        {{#each posts}}
          {{#if this.chosen}}


              <div class="selected-form">
                <p class="fontHere"><b>Driver: </b> {{this.first}} {{this.last}}</p>

                <form class="cancel-form">
                  <input input type="hidden" type="text" id="cancelbtn" name="post_id" value={{this.id}}>
                  <button type="submit" class="btn btn-default fontHere">Cancel</button>
                </form>

                <form class="confirm-form">
                  <input input type="hidden" type="text" id="confirmbtn" name="post_id" value={{this.id}}>
                  <button type="submit" class="btn btn-default fontHere">Confirm</button>
                </form>

                <p class="fontHere"><b>From: </b> {{this.from}} <b>To: </b> {{this.to}}</p>
                <p class="fontHere"><b>Posted: </b>{{this.createdAt}}</p>
                <p class="fontHere"><b>Notes: </b> {{this.notes}}</p>
                <p class="fontHere"><b>Time: </b> {{this.time}}</p>
                <p class="fontHere"><b>Email: </b> {{this.email}}</p>
              </div>

          {{/if}}
        {{/each}}

      </div>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/search.js"></script>

</body>
